{% extends "App/base.html" %}

{% block title %}Sales Management{% endblock title %}
{% block header %}
<div class="d-flex justify-content-between align-items-center">
    <b>Sales List</b>
    <div>
        
        <a href="{% url 'home' %}" class="btn btn-outline-primary">
            <i class="fas fa-home"></i> Home
        </a>
        <a href="{% url 'sales_create' %}" class="btn btn-outline-primary">
            <i class="fas fa-plus"></i> Add New
        </a>
    </div>
</div>
{% endblock header %}

{% block content %}
<style>
    body {
        background: linear-gradient(to right, #e0f7fa, #5bacb7); /* Light blue gradient */
        font-family: Arial, sans-serif; /* Font family */
    }
    b {
        font-family: 'Gerogia', serif; /* Choose your font here */
        font-size: 1.0cm; /* Adjust the size as needed */
    }
   
</style>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Payment Terms</th>
            <th>Date</th>
            <th>Total Amount</th>
            <th>Payment Status</th>
            <th>Remarks</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for entry in sales_entries %}
            <tr>
                <td>{{ entry.name }}</td>
                <td>{{ entry.phone_number }}</td>
                <td>{{ entry.address }}</td>
                <td>{{ entry.payment_terms }}</td>
                <td>{{ entry.date|date:"Y-m-d" }}</td>  <!-- Only the date -->
                <td>{{ entry.total_amount|floatformat:2 }}</td>
                <td>{{ entry.payment_status }}</td>
                <td>{{ entry.remarks }}</td>
                <td>
                    <div class="action-icons">
                        <a href="{% url 'sales_update' entry.id %}" class="btn text-secondary px-0">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
                        <form action="{% url 'sales_delete' entry.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="11" class="text-center">No entries available.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}