{% extends "App/base.html" %}

{% block title %}Transaction Management{% endblock title %}
{% block header %}
<div class="d-flex justify-content-between align-items-center">
    <b>Transaction List</b>
    <div>
        
        <a href="{% url 'home' %}" class="btn btn-outline-primary">
            <i class="fas fa-home"></i> Home
        </a>
        <a href="{% url 'transaction_create' %}" class="btn btn-outline-primary">
            <i class="fas fa-plus"></i> Add New
        </a>
    </div>
</div>
{% endblock header %}

{% block content %}
<style>
    body {
        background: linear-gradient(to right, #e0f7fa, #5bacb7); /* Light blue gradient */
        font-family: Arial, sans-serif; /* Font family */
    }
    b {
        font-family: 'Gerogia', serif; /* Choose your font here */
        font-size: 1.0cm; /* Adjust the size as needed */
    }
   
</style>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <th>Transaction ID</th>
            <th>Transaction Type</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Account Holder</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transaction_list %}
            <tr>
                <td>{{ transaction.transaction_id }}</td>
                <td>{{ transaction.transaction_type }}</td>
                <td>{{ transaction.amount|floatformat:2 }}</td>
                <td>{{ transaction.transaction_date|date:"Y-m-d" }}</td>  <!-- Only the date -->
                <td>{{ transaction.account_holder}}</td>
                <td>
                    <div class="action-icons">
                        <a href="{% url 'transaction_update' transaction.transaction_id %}" class="btn text-secondary px-0">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
                        <form action="{% url 'transaction_delete' transaction.transaction_id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5" class="text-center">No transactions available.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
